* {
    font-family: "Lato", sans-serif;
}
header {
    background-image: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 100%);
}
.navbar-brand {
    color: whitesmoke;
    text-shadow: 3px 3px 1px #105cd4;
}
.text-p {
    font-size: 20px;
}
.dropdown-menu {
    background-color: #105cd4;
}
.dropdown-menu li a{
    color: whitesmoke;
}
.pawsclime {
    color: whitesmoke;
    text-shadow: 5px 5px 1px #105cd4;
}
hr {
    width: 50%;
    margin: auto;
}
#weather-app {
    background-image: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 100%);
}
.item-community img {
    border: 8px white solid;
    filter: contrast(0.8);
    padding: 8px;
    width: 250;
    height: 250;
}
.item-community:hover{
    background-color: #71a1f0;
    border-radius: 0 0 50px 50px;
    color: white;
}
.jumbutrons{
    background: url("icons/community.jpg") 50%/ cover;
}
footer {
    border-radius: 0px 0px 0 0;
    background-image: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 100%);
    bottom: 0;
}
.offcanvas-dashboard {
    background-image: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 100%);
    line-height: 10px;
    border-radius: 0 0 50px 50px;
}
.dashboard img {
    margin-top: 10px;
    border: 4px white solid;
    padding: 5px;
}
.dashboard-username {
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 3px 3px 1px #105cd4;
}
/*for sign up page */
div.card-body {
    background-image: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 50%);
    border-radius: 20px;
}
#sign-up-page {
    background-image: url('icons/signupbg.jpg');
    background-size: cover;
    background-position: center;
}
.blue {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card {
    margin-bottom: 20px;
}

.post .card-body {
    display: flex;
    flex-direction: column;
}

.comments-section {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
}

.comment {
    padding: 5px 0;
}

.commentForm {
    margin-top: 10px;
}

.comment {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}